{% extends 'base.html' %}
<!--even if you comment this out the system still recognizes it btw-->

{% block newstyle %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}




{% block content %}
{% load static %}

<h1 style="margin-top: 40px;text-align: center;">Import Subscribers</h1>

<div class="container" style="margin-top: 40px;">
  <!--"enctype="multipart/form-data"" allows the radio button to work to prevent error https://stackoverflow.com/questions/19874859/django-multivaluedictkeyerror-->
  <form action="/importsubscribers" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message:</strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}


    <!--float:left helps put two divs beside each other evenly-->
    <div class="form-group" style="float:left;width:48%;height:20%;">
      
      <label for="buttonn" style="display:block;"><h6><b>Add Manually:</b></h6></label>

      <button type="button" id="buttonn" class="btn btn-primary btn-lg" style="width:100%;height:40px;">Add Manually</button>
    </div>


    <div class="file-upload-wrapper" style="display: inline-block;width:48%;height:20%;margin-left: 4%;">
      <label for="input-file-now" style="display:block;"><h6><b>Import From A TXT,CSV,XLSX File:</b></h6></label>

      <!--<input type="file" id="input-file-now" class="file-upload" style="width:100%;height:80px;border-style: solid;"/>-->


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" name="filegiven">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>

    </div>


    <div class="form-group" style="width:100%;margin-top: 60px;">
      <label for="comment4" style="display:block;"><h6><b>Past From File</b></h6></label>
      <textarea rows="5" id="comment4" style="white-space: nowrap;width:100%"></textarea>
    </div>

    <label for="comment3" style="display:block;"><h6><b>View Import Result History:</b></h6></label>
    <div class="container">
      <div class="dropdown show" style="float:left;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Add to folder</a>
          <a class="dropdown-item" href="#">Remove from folder</a>
        </div>
      </div>

      <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:20%;margin-left: 53%">

      <table id="nocommenttable" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Import From Location</th>
            <th>Details</th>
            <th>Status</th>
            <th>Date/Time</th>
            <th>Data Analysis</th>
          </tr>
        </thead>
        <!--
        <tbody id="myTable">
          <tr>
            <td>CSV</td>
            <td>2 contacts added to import segment</td>
            <td>Imported</td>
            <td>Aug 20, 2022</td>
            <td>Do a prediction</td>

          </tr>
          <tr>
            <td>Copy/Pasted File</td>
            <td>2 emails are already in import segment that couldn't be imported</td>
            <td>Imported</td>
            <td>Aug 20, 2022</td>
            <td>Do a prediction</td>

          </tr>
        </tbody>
        -->

      </table>
    </div>


    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    <div class="form-group" style="float:left;width:33%;height:20%;">
    <button type="button" class="btn btn-secondary">Email Analytics</button>
    </div>


    <div class="file-upload-wrapper" style="display: inline-block;width:33%;height:20%;">
    <button type="button" class="btn btn-secondary">Do Industry Prediction</button>
    </div>

    <div class="file-upload-wrapper" style="display: inline-block;width:33%;height:20%;">
    <button type="button" class="btn btn-secondary">Workflow Analytics</button>
    </div>
    <br>
    <br>

    <div class="file-upload-wrapper">
    <label class="form-label" for="industry" style="margin-top: 10px;">Select A Status For Your Contacts:</label>
    <select class="form-select" aria-label="Default select example" name="industry" id="industry" required>
      <option selected>Select A Status For Your Contacts:</option>
      <option value="subscribed">Subscribed</option>
      <option value="unsubscribed">UnSubscribed</option>
      <option value="nonsubscribed">Nonsubscribed</option>
      <option value="cleaned">cleaned</option>
    </select>

    </div>

    <br>
    <br>

    <div style="width:100%;">
      <div style="float:left">
        <input type="radio" id="dot1" name="dot" value="dotall" style="padding-bottom: 100px;margin-top: 96px;">
      </div>

      <div style="display: inline-block;width:95%;">

        <div style="border-style: outset;">
          <!--<p style="float:right;padding-bottom: 100px;">Create List</p>-->
          <button type="button" class="btn btn-info" style="float:right;">Create Group</button>
          <br>
          <div>

            <input type="radio" id="dot2" name="dot" value="dotlist" style="float:left" onclick="changetable2(this)" data-row-type="List"> <label for="dot2" >Groups. 0 Selections. 17 Total</label>
        
          </div>
        </div>

        <div style="border-style: outset;">
          <!--<p style="float:right">Create Form</p>-->
          <button type="button" class="btn btn-info" style="float:right;">Create Form</button>
          <br>
          <div>

            <input type="radio" id="dot3" name="dot" value="dotform" style="float:left" onclick="changetable3(this)" data-row-type="Form"> <label for="dot3">Forms. 2 Selection. 6 Total</label>
          
          </div>
        </div>
      

        <div style="width:100%;">

          <div style="border-style: outset;display: inline-block;width:33%;">
            <br>
            <div>

              <input type="radio" id="dot4" name="dot" value="dottag" style="float:left" onclick="changetable(this)" data-row-type="Alltag"> <label for="dot4">Tags. 3 Selection. 6 Total</label>
            
            </div>
          </div>

          <div style="border-style: outset;display: inline-block;width:33%;">
          <!--<span style="float:right">Create Identification Tag</span>-->
          <button type="button" class="btn btn-info" style="float:right;">Create Identification Tag</button>
          <br>
          <div>

            <input type="radio" id="dot5" name="dot" value="dotidentificationtag" style="float:left" onclick="changetable4(this)" data-row-type="Identification"> <label for="dot5">Identification Tags. 3 Selection. 6 Total</label>
          
          </div>
          </div>

          <div style="border-style: outset;display: inline-block;width:33%;">
            <!--<span style="float:right">Create Purchase Tag</span>-->
            <button type="button" class="btn btn-info" style="float:right;">Create Purchase Tag</button>
            <br>
            <div>
              <input type="radio" id="dot6" name="dot" value="dotpurchasetag" style="float:left" onclick="changetable5(this)" data-row-type="Purchase"> <label for="dot6">Purchase Tags. 3 Selection. 10 Total</label>
            </div>
          </div>

        </div>

        <input class="form-control" id="myInput2" type="text" placeholder="Search.." >

        <table id="dtHorizontalVerticalExample2" class="table table-striped table-bordered table-sm " cellspacing="0"width="100%">
          <thead>
          <tr>
            <th><input type="checkbox" id="dot7" name="dot7" value="dot7"></th>
            <th>Tags</th>

          </tr>
          </thead>

          <tbody id="myTable2">
            <!--
          <tr>
            <td><input type="checkbox" id="dot8" name="dot8" value="dot8"></td>
            <td>tag A</td>
          </tr>
          <tr>
            <td><input type="checkbox" id="dot9" name="dot9" value="dot9"></td>
            <td>tag B</td>
          </tr>
          -->
          </tbody>
        </table>

      
      </div>


    </div>

    <button type="submit" class="btn btn-primary btn-lg" style="float:right;padding-left: 2.5rem; padding-right: 2.5rem;" >Next</button>


  
    


  </form>
  
</div>


<script>

  /*
  $(document).ready(function(){
  })*/
  
  //the type can be 'POST'
  //data is like the context variable you will python backend

  var theAction = "1";
  $.ajax({
        type: "get",
        url: "{% url 'importsubscriber-table_load_up' %}",
        dataType: "json",
        data: { actionToTake: JSON.stringify(theAction) },
        success: function(response) {
             
             var theOutput = JSON.parse(response.allData);
             var theOutput2 = JSON.parse(response.allDatatwo);
             var theOutput3 = JSON.parse(response.allDatathree);
             var theOutput4 = JSON.parse(response.allDatafour);
             var theOutput5 = JSON.parse(response.allDatafive);
             
             //this shows "[object][object]"

             //this only parses JSON string, if it's not a Json string,it will give an error
             //var theOutput2 = JSON.parse(response.allDataStudentAccount);
             //var theOutput3 = JSON.parse(response.allDataStudentAuth)
                    //var theOutput = response.allData;
             //console.log(response.theOutput);


            /*
             alert(response.allData); //this shows the actual things inside the object
            */



             //i can just start using it since this one doesn't need to be parsed
             //var theOutput = JSON.parse(response.allDataStudentAccount);
              /*
             alert(response);
             var g = JSON.stringify(response);
             alert(g[0]);
             alert(JSON.parse(response));
             */
             
             /*
             alert(response.allDataStudentAccount);
             */
             //alert(response.response.allDataStudentAuth);
            /*
             alert(response.allDataStudentAccount)
             alert(theOutput2)
             alert(response[0]);
             alert(response.allDataStudentAccount[0]);
             */
             //alert(response.allDataStudentAccount)


                    //alert((response.allData)[8]);
                    //alert(theOutput)// this shows "[object][object]"
              var table = $('<tbody>');
              var table2 = $('<tbody>');
              var table3 = $('<tbody>');
              var table4 = $('<tbody>');
              var table5 = $('<tbody>');

              //var table = document.getElementById('groupTable')
                     //alert(theOutput);
              var row = $('<tr>');
              var row2 = $('<tr>');
              var row3 = $('<tr>');
              var row4 = $('<tr>');
              var row5 = $('<tr>');
               /*
              for (var i=0; i<theOutput.length; i++) {
               var obj = theOutput[i];
               alert(obj[0]);
              } 
             */
 
              for (var i=0; i<theOutput.length; i++) { 
                    var obj = theOutput[i];//this says [object,object]
                    //alert(theOutput[i].fields);
                    //alert(JSON.parse(theOutput[i]));
                    var fields = obj.fields;
                    //alert(fields)
                    var pk = obj.pk;
                    //make sure the foreign key table feild value isn't null so you can go into it and maybe go into it further if the next foreign key table feild value isn't null
                    if (fields.tagid != null){
                       //alert(fields.title); //this shows the actual result of the one value
                       //var eventcode = fields.eventcode;
                       //var collegecode = fields.collegecode;
                       // IF YOU PUT THE "" at the end of of > the table won't load. EXAMPLE is directly BELOW by 1 space
                       // data-* is for html5. 
                       var row = $('<tr data-row-id="' + pk + '">');
                       //alert(pk);
                       //django takes care of joins automatically so we can do this
                       row.append('<td onclick="selectionintable(this)">' + '<input type="checkbox" id="'+fields.tagid.id +'" name="'+fields.tagid.id +'" value="'+fields.tagid.id +'"/>'  + '</td>');
                       row.append('<td>'  + fields.tagid.name + '</td>');
                       /*
                       row.append('<td onclick="toEditPageNow(this)">' + fields.tagid["auth_id"].sheridan_id + '</td>');
                       //row.append('<td>' + fields.student_id.auth_id.sheridan_id + '</td>');
                       //row.append('<td>' + "First" + " " + "Name" + '</td>');
                       //row.append('<td>' + "9516584235" + '</td>');
                       //This below will print the whole list if the foreigh key is stored as a list in the object when serialized
                       //row.append('<td>' + fields.student_id + '</td>');
                       row.append('<td onclick="toEditPageNow(this)">' + fields.title + '</td>');
                       row.append('<td onclick="toEditPageNow(this)">' + fields.start_date + '</td>');
                       row.append('<td onclick="toEditPageNow(this)">' + fields.end_date + '</td>');
                       if(fields.staff_notes == null){
                         row.append('<td onclick="toEditPageNow(this)"></td>');
                       }
                       else{
                         row.append('<td onclick="toEditPageNow(this)">' + fields.staff_notes + '</td>');
                       }
                       row.append('<td><input  type="button" onclick="deleteRowMaybe(this)" value="Delete"></td>')
                       // putting the / at the right side of a single element creates the whole elemement rather than close a
                       //previously opened element so watch out, an example is: row.append('<tr/>');
                       */
                       row.append('</tr>');
                       table.append(row);
                     }
               }
                 
               for (var i=0; i<theOutput2.length; i++) { 
                    var obj2 = theOutput2[i];//this says [object,object]
                    var fields2 = obj2.fields;
                    var pk2 = obj2.pk;
                    if (fields2.groupid != null){
                       var row2 = $('<tr data-row-id="' + pk2 + '">');
                       row2.append('<td onclick="selectionintable(this)">' + '<input type="checkbox" id="'+fields2.groupid.id +'" name="'+fields2.groupid.id +'" value="'+fields2.groupid.id +'"/>'  + '</td>');
                       row2.append('<td>'  + fields2.groupid.name + '</td>');
                       row2.append('</tr>');
                       table2.append(row2);
                     }
               }
               for (var i=0; i<theOutput3.length; i++) { 
                    var obj3 = theOutput3[i];//this says [object,object]
                    var fields3 = obj3.fields;
                    var pk3 = obj3.pk;
                    if (fields3.formid != null){
                       var row3 = $('<tr data-row-id="' + pk3 + '">');
                       row3.append('<td onclick="selectionintable(this)">' + '<input type="checkbox" id="'+fields3.formid.id +'" name="'+fields3.formid.id +'" value="'+fields3.formid.id +'"/>'  + '</td>');
                       row3.append('<td>'  + fields3.formid.name + '</td>');
                       row3.append('</tr>');
                       table3.append(row3);
                     }
               }
               for (var i=0; i<theOutput4.length; i++) { 
                    var obj4 = theOutput4[i];//this says [object,object]
                    var fields4 = obj4.fields;
                    var pk4 = obj4.pk;
                    if (fields4.tagid != null){
                       var row4 = $('<tr data-row-id="' + pk4 + '">');
                       row4.append('<td onclick="selectionintable(this)">' + '<input type="checkbox" id="'+fields4.tagid.id +'" name="'+fields4.tagid.id +'" value="'+fields4.tagid.id +'"/>'  + '</td>');
                       row4.append('<td>'  + fields4.tagid.name + '</td>');
                       row4.append('</tr>');
                       table4.append(row4);
                     }
               }    
               for (var i=0; i<theOutput5.length; i++) { 
                    var obj5 = theOutput5[i];//this says [object,object]
                    var fields5 = obj5.fields;
                    var pk5 = obj5.pk;
                    if (fields5.tagid != null){
                       var row5 = $('<tr data-row-id="' + pk5 + '">');
                       row5.append('<td onclick="selectionintable(this)">' + '<input type="checkbox" id="'+fields5.tagid.id +'" name="'+fields5.tagid.id +'" value="'+fields5.tagid.id +'"/>'  + '</td>');
                       row5.append('<td>'  + fields5.tagid.name + '</td>');
                       row5.append('</tr>');
                       table5.append(row5);
                     }
               }
 
            
               //var row = $('<tr/>');//its possible that i must write this variable in this way befor appending
               //row.append($('</tr>'));
               //table.append(row);
               table.append($('</tbody>'));

               table2.append($('</tbody>'));
               table3.append($('</tbody>'));
               table4.append($('</tbody>'));
               table5.append($('</tbody>'));


               $("#dtHorizontalVerticalExample2").data("userdata1",table);
               $("#dtHorizontalVerticalExample2").data("userdata2",table2);
               $("#dtHorizontalVerticalExample2").data("userdata3",table3);
               $("#dtHorizontalVerticalExample2").data("userdata4",table4);
               $("#dtHorizontalVerticalExample2").data("userdata5",table5);
               //table.add
               //$('#groupTable').appendChild = table;
               //$('#groupTable').innerHTML(table);
               //$('#groupTable').innerHTML(table.children)
               //let myObj_serialized = JSON.stringify(table);
               //localStorage.setItem("myObj", myObj_serialized);

               //THIS IS THE ONE WE ORRIGINALLY USED
               //$('#dtHorizontalVerticalExample2').append(table2);


              $(theOutput).each(function() {//use to be $(response)
                    //alert(response.allData)
                    //var obj = theOutput[i];
                    //var fields = obj.fields;
                    //var eventcode = fields.eventcode;
                    //var collegecode = fields.collegecode;
                    //alert(obj)
                    //alert(fields.title)
                    //var row = $('<tr/>');
                    //row.append('<td>' + fields.title + '</td>');
                    //row.append('<td>' + fields.title + '</td>');
                    /*
                    var row = $('<tr/>');
                    row.append('<td>' + this.Value + '</td>');
                    row.append('<td>' + this.Value + '</td>');
                    */
                    //alert(row);
                    //alert(this.Value);
              });
              //table.append(row);  
              //this is saying all the elements with this tag should have "this" in it                  
              //$('#groupTable').html(table); // not refreshing table withdata
             //alert(response.allData)
        },
        error: function(request, status, error) {
            alert("this is an error");
            //alert(request.responseText);
        }
    });
</script>


<script>

  //csrftoken = getCookie('csrftoken');

  function changetable(tdElement){
    //alert("we here");
    var trElement = tdElement.parentNode;
  
    
    var pk = $(trElement).data('row-id');
    
    var type = $(tdElement).data('row-type');
    //i can only use the below code if i install the library that allows for it
    //const csrftoken = Cookies.get('csrftoken');
    var table = $("#dtHorizontalVerticalExample2").data("userdata1");
    var table2 = $("#dtHorizontalVerticalExample2").data("userdata2");
    var table3 = $("#dtHorizontalVerticalExample2").data("userdata3");
    var table4 = $("#dtHorizontalVerticalExample2").data("userdata4");
    var table5 = $("#dtHorizontalVerticalExample2").data("userdata5");

    alert(table[0].innerHTML)
    alert(table2[0].innerHTML)
    alert(table3[0].innerHTML)
    alert(table4[0].innerHTML)
    alert(table5[0].innerHTML)
          //$('#groupTable').appendChild = table;
               //$('#dtHorizontalVerticalExample2').innerHTML(table);
    //alert($('#dtHorizontalVerticalExample2').innerHTML)
               //$('#groupTable').innerHTML(table.children)
               //let myObj_serialized = JSON.stringify(table);
               //localStorage.setItem("myObj", myObj_serialized);
    
    //$('#dtHorizontalVerticalExample2').replaceChild($('#dtHorizontalVerticalExample2').lastElementChild, table) 
    if ($('#dtHorizontalVerticalExample2').children().length > 1){
      $('#dtHorizontalVerticalExample2').children().last().remove()
    }
    $('#dtHorizontalVerticalExample2').append(table);
    
    //alert(type);
    /*
    $.ajax({
          type: "get",
          url:"{% url 'importsubscribers_load_table' %}",
          dataType: "json",
          data: { actionToTake: JSON.stringify(type) },
          //headers: {'X-CSRFToken': csrftoken},
          success: function(response) {
            var theOutput = JSON.parse(response.allData);
            alert("why isn't it working")
          },
          error: function(request, status, error) {
              alert("did not do anything on click");
          }
        });
    */

  }



  function changetable2(tdElement){
    //alert("we here");
    var trElement = tdElement.parentNode;
    var pk = $(trElement).data('row-id');
    var type = $(tdElement).data('row-type');
    //i can only use the below code if i install the library that allows for it
    //const csrftoken = Cookies.get('csrftoken');
    //var table = $("#dtHorizontalVerticalExample2").data("userdata1");
    var table2 = $("#dtHorizontalVerticalExample2").data("userdata2");
    //var table3 = $("#dtHorizontalVerticalExample2").data("userdata3");
    //var table4 = $("#dtHorizontalVerticalExample2").data("userdata4");
    //var table5 = $("#dtHorizontalVerticalExample2").data("userdata5");
    //alert(table[0].innerHTML)
    alert(table2[0].innerHTML)
    //alert(table3[0].innerHTML)
    //alert(table4[0].innerHTML)
    //alert(table5[0].innerHTML)
    if ($('#dtHorizontalVerticalExample2').children().length > 1){
      $('#dtHorizontalVerticalExample2').children().last().remove()
    }
    $('#dtHorizontalVerticalExample2').append(table2);
  }

  function changetable3(tdElement){
    //alert("we here");
    var trElement = tdElement.parentNode;
    var pk = $(trElement).data('row-id');
    var type = $(tdElement).data('row-type');
    //i can only use the below code if i install the library that allows for it
    //const csrftoken = Cookies.get('csrftoken');
    //var table = $("#dtHorizontalVerticalExample2").data("userdata1");
    //var table2 = $("#dtHorizontalVerticalExample2").data("userdata2");
    var table3 = $("#dtHorizontalVerticalExample2").data("userdata3");
    //var table4 = $("#dtHorizontalVerticalExample2").data("userdata4");
    //var table5 = $("#dtHorizontalVerticalExample2").data("userdata5");
    //alert(table[0].innerHTML)
    //alert(table2[0].innerHTML)
    alert(table3[0].innerHTML)
    //alert(table4[0].innerHTML)
    //alert(table5[0].innerHTML)
    if ($('#dtHorizontalVerticalExample2').children().length > 1){
      $('#dtHorizontalVerticalExample2').children().last().remove()
    }
    $('#dtHorizontalVerticalExample2').append(table3);
  }

  function changetable4(tdElement){
    //alert("we here");
    var trElement = tdElement.parentNode;
    var pk = $(trElement).data('row-id');
    var type = $(tdElement).data('row-type');
    //i can only use the below code if i install the library that allows for it
    //const csrftoken = Cookies.get('csrftoken');
    //var table = $("#dtHorizontalVerticalExample2").data("userdata1");
    //var table2 = $("#dtHorizontalVerticalExample2").data("userdata2");
    //var table3 = $("#dtHorizontalVerticalExample2").data("userdata3");
    var table4 = $("#dtHorizontalVerticalExample2").data("userdata4");
    //var table5 = $("#dtHorizontalVerticalExample2").data("userdata5");
    //alert(table[0].innerHTML)
    //alert(table2[0].innerHTML)
    //alert(table3[0].innerHTML)
    alert(table4[0].innerHTML)
    //alert(table5[0].innerHTML)
    if ($('#dtHorizontalVerticalExample2').children().length > 1){
      $('#dtHorizontalVerticalExample2').children().last().remove()
    }
    $('#dtHorizontalVerticalExample2').append(table4);
  }


  function changetable5(tdElement){
    //alert("we here");
    var trElement = tdElement.parentNode;
    var pk = $(trElement).data('row-id');
    var type = $(tdElement).data('row-type');
    //i can only use the below code if i install the library that allows for it
    //const csrftoken = Cookies.get('csrftoken');
    //var table = $("#dtHorizontalVerticalExample2").data("userdata1");
    //var table2 = $("#dtHorizontalVerticalExample2").data("userdata2");
    //var table3 = $("#dtHorizontalVerticalExample2").data("userdata3");
    //var table4 = $("#dtHorizontalVerticalExample2").data("userdata4");
    var table5 = $("#dtHorizontalVerticalExample2").data("userdata5");
    //alert(table[0].innerHTML)
    //alert(table2[0].innerHTML)
    //alert(table3[0].innerHTML)
    //alert(table4[0].innerHTML)
    alert(table5[0].innerHTML)
    if ($('#dtHorizontalVerticalExample2').children().length > 1){
      $('#dtHorizontalVerticalExample2').children().last().remove()
    }
    $('#dtHorizontalVerticalExample2').append(table5);
  }

  function selectionintable(tdElement){
    //var type = $(tdElement).data('row-type');
    //var type = $(tdElement).data('row-type');
    //document.getElementById("dot2").value = "My value";
    alert("we here");

    
    var trElement = tdElement.parentNode;
    var pk = $(trElement).data('row-id');

    if (document.getElementById('dot2').checked){
      document.getElementById("dot2").value = document.getElementById("dot2").value + ":"+ pk + ":";
      alert("in dot2-"+document.getElementById("dot2").value);
    }
    if (document.getElementById('dot3').checked){
      document.getElementById("dot3").value = document.getElementById("dot3").value + "*"+ pk + "*";
      alert("in dot3-"+document.getElementById("dot2").value);
    }
    if (document.getElementById('dot4').checked){
      document.getElementById("dot4").value = document.getElementById("dot4").value + "#"+ pk + "#";
      alert("in dot4-"+document.getElementById("dot2").value);
    }
    if (document.getElementById('dot5').checked){
      document.getElementById("dot5").value = document.getElementById("dot5").value + "@"+ pk + "@";
      alert("in dot5-"+document.getElementById("dot2").value);
    }
    if (document.getElementById('dot6').checked){
      document.getElementById("dot6").value = document.getElementById("dot6").value + "!"+ pk + "!";
      alert("in dot6-"+document.getElementById("dot2").value);
    }

    


    
  
    
    alert(type);
    
    $.ajax({
          type: "get",
          url:"{% url 'importsubscribers_load_table' %}",
          dataType: "json",
          data: { actionToTake: JSON.stringify(type) },
          
          //headers: {'X-CSRFToken': csrftoken},
          success: function(response) {
            var theOutput = JSON.parse(response.allData);
            alert("why isn't it working")
          },
          error: function(request, status, error) {
              alert("did not do anything on click");
          }
        });
    

        /*
        $.ajax({ 			    
          type	: 'POST',             
          url	: '/saveVendorInfo/',              
          data : $('#vendorInfoForm').serialize(),              
          enctype : "multipart/form-data",              
          success: function(response){                		
            if(response.success == 'true'){ 	             		
              alert('Success'); 	             		
              location.href='/vendor-list/'; 	             	
            } 	             	
            else 	             		
            alert('Failed to save');                 
          },
          */
  }



</script>



{% endblock %}